EasyGEngine/bin/
eGe-Tests/bin/
libgdx/backends/gdx-backend-android/bin/
libgdx/backends/gdx-backend-jogl/bin/
libgdx/backends/gdx-backend-lwjgl/bin/
libgdx/backends/gdx-openal/bin/
libgdx/extensions/gdx-audio/bin/
libgdx/extensions/gdx-freetype/bin/
libgdx/extensions/gdx-jnigen/bin/
libgdx/extensions/gdx-stb-truetype/bin/
libgdx/extensions/gdx-tools/bin/
libgdx/extensions/gdx-image/bin/
libgdx/gdx/bin/
libgdx/tests/gdx-tests-android/bin/
libgdx/tests/gdx-tests-lwjgl/bin/
libgdx/tests/gdx-tests/bin/
libgdx/demos/invaders/gdx-invaders-android/bin/
libgdx/demos/invaders/gdx-invaders/bin/
libgdx/backends/gdx-backend-android/target/
libgdx/backends/gdx-backend-jogl/target/
libgdx/backends/gdx-backend-lwjgl/target/
libgdx/backends/gdx-openal/target/
libgdx/backends/gdx-backends-gwt/target/
libgdx/extensions/gdx-audio/target/
libgdx/extensions/gdx-freetype/target/
libgdx/extensions/gdx-image/target/
libgdx/extensions/gdx-jnigen/target/
libgdx/extensions/gdx-stb-truetype/target/
libgdx/extensions/gdx-tools/target/
libgdx/gdx/target/
libgdx/extensions/gdx-tiled-preprocessor/target/
