EasyGEngine/bin/
eGe-Tests/bin/

libgdx/backends/gdx-backend-android/bin/
libgdx/backends/gdx-backend-iosmonotouch/bin/
libgdx/backends/gdx-backends-gwt/bin/
libgdx/backends/gdx-backends-gwt/war/
libgdx/backends/gdx-backend-jogl/bin/
libgdx/backends/gdx-backend-lwjgl/bin/
libgdx/backends/gdx-openal/bin/

libgdx/extensions/gdx-audio/bin/
libgdx/extensions/gdx-freetype/bin/
libgdx/extensions/gdx-jnigen/bin/
libgdx/extensions/gdx-stb-truetype/bin/
libgdx/extensions/gdx-tools/bin/
libgdx/extensions/gdx-image/bin/

libgdx/gdx/bin/

libgdx/tests/gdx-tests-android/bin/
libgdx/tests/gdx-tests-lwjgl/bin/
libgdx/tests/gdx-tests/bin/
libgdx/tests/gdx-tests-gwt/bin/
libgdx/tests/gdx-tests-gwt/war/

libgdx/demos/invaders/gdx-invaders-html5/war/
libgdx/demos/invaders/gdx-invaders-android/bin/
libgdx/demos/invaders/gdx-invaders/bin/
libgdx/demos/chip8/chip8/bin/
libgdx/demos/cuboc/cuboc-html/war/
libgdx/demos/cuboc/cuboc/bin/
libgdx/demos/dev-guide/my-gdx-game/
libgdx/demos/dev-guide/my-gdx-game-desktop/
libgdx/demos/metagun/metagun-android/bin/
libgdx/demos/metagun/metagun-desktop/bin/
libgdx/demos/superjumper/superjumper-android/bin/
libgdx/demos/superjumper/superjumper-html/war/
libgdx/demos/superjumper/superjumper/bin/
libgdx/demos/vector-pinball/gdx-vectorpinball-html5/war/
libgdx/demos/vector-pinball/gdx-vectorpinball/bin/
libgdx/demos/returntomarchfeld/rtm/bin/
libgdx/demos/very-angry-robots/very-angry-robots/bin/
libgdx/demos/helloworld/gdx-helloworld/bin/
libgdx/demos/

libgdx/backends/gdx-backend-android/target/
libgdx/backends/gdx-backend-jogl/target/
libgdx/backends/gdx-backend-lwjgl/target/
libgdx/backends/gdx-openal/target/
libgdx/backends/gdx-backends-gwt/target/

libgdx/extensions/gdx-bullet/bin/
libgdx/extensions/gdx-remote/bin/
libgdx/extensions/gdx-setup-ui/bin/
libgdx/extensions/gdx-tiled-preprocessor/bin/
libgdx/extensions/gdx-tokamak/bin/
libgdx/extensions/model-loaders/model-loaders/bin/
libgdx/extensions/model-loaders/model-loaders-android/bin/
libgdx/extensions/gdx-setup/bin/
libgdx/extensions/gdx-audio/target/
libgdx/extensions/gdx-freetype/target/
libgdx/extensions/gdx-image/target/
libgdx/extensions/gdx-jnigen/target/
libgdx/extensions/gdx-stb-truetype/target/
libgdx/extensions/gdx-tools/target/
libgdx/gdx/target/
libgdx/extensions/gdx-tiled-preprocessor/target/
libgdx/tests/gdx-tests-gwt/war/
libgdx/tests/gdx-tests-gwt/war/WEB_INF/
///gdx/

